  body {
  margin: 0;
  padding: 1em;
    text-align: center;
}

.topHeader {
  padding: 1em 2em;
  background-color: #00802b;
  color: white
}

.topHeader h1 {
  text-align: center;
}

.directions {
  background-color: #00e64d;
  color: white;
  padding: 1em 2em;
}

.test-area {
  background-color: #66ff99;
  padding: 1em 2em;
}
